.wrapper {
    height: 90vh; //remove when content  is added      
    position: relative;

    .add-button:hover {
        border-color: #1f3a8a;
    }

    .modal-wrapper {    
        width: 100%;    
        padding: 40px;  

        .inner {
            max-height: 500px;
            overflow-y: auto;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 99;

            .header {
                padding: 20px;
                position: sticky;
                top: -20px;
                background: #374151;
                z-index: 9;
            }

            .body-content {
                padding: 20px;
            }
        }
    }
}


.card-wrapper {
    position: relative;
    color: #FFF;

    .inner {
        min-width: 313px;   
        max-width: 313px;
        height: 256px;
        background: #525DA9;
        padding: 14px 10px;
        border-radius: 8px;

        h3 {    
            font-size: 24px;
            line-height: 32px;
            font-weight: 600;
            margin-bottom: 12px;
        }   

        p {
            font-size: 16px;
            line-height: 24px;
        }

        .content {
            padding: 10px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .left-sec {
                p {
                    color: rgb(156 163 175);
                    font-size: 14px;
                    font-weight: 600;
                }
            }

            .middle-sec {
                p {
                    color: rgb(239 68 68);
                    font-size: 14px;
                    font-weight: 600;
                }
            }

            .right-sec {
                gap: 10px;

                .img-wrapper {
                    width: 24px;
                    height: 24px;
                    cursor: pointer;
                }
            }
        }
    }
}