@tailwind base;
@tailwind components;
@tailwind utilities;

#logo-sidebar {
    background: linear-gradient(330.74deg, #131313 3.27%, #464646 98.72%);
}

.wrapper {
    height: 90vh; //remove when content  is added      
    position: relative;

    .add-button:hover {
        border-color: #1f3a8a;
    }

    .modal-wrapper {
        width: 100%;
        padding: 2.9283vw /* 40px -> 2.9283vw */;

        .inner {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 99;

            .sub-inner {
                max-height: 36.6032vw /* 500px -> 36.6032vw */;
                overflow-y: scroll;
                background: #b7b7b7;
            }

            .header {
                padding: 1.0981vw /* 15px -> 1.0981vw */ 1.4641vw /* 20px -> 1.4641vw */;
                position: sticky;
                top: 0;
                background: #b7b7b7;
                color: #000;
                z-index: 9;

                h3 {
                    color: #000;

                }

                button {
                    border: 1px solid #000;
                    border-radius: 50%;

                    &:hover {
                        background: transparent;
                    }

                    svg {
                        color: #000;
                        opacity: 1;
                    }
                }

            }

            .body-content {
                padding: 1.4641vw /* 20px -> 1.4641vw */;
                background: #b7b7b7;
                color: #000;

                label {
                    color: #000;
                }

                input,
                textarea,
                select {
                    background: rgb(40 40 40);
                }

            }
        }

        .btn {
            background: #000;
            color: #FFF;
        }
    }
}


.card-wrapper {
    position: relative;
    color: #FFF;

    .inner {
        min-width: 21.9619vw /* 300px -> 21.9619vw */;
        max-width: 21.9619vw /* 300px -> 21.9619vw */;
        height: 18.7408vw /* 256px -> 18.7408vw */;
        background: linear-gradient(330.74deg, #131313 3.27%, #464646 98.72%);
        padding: 1.0249vw /* 14px -> 1.0249vw */ .7321vw /* 10px -> .7321vw */;
        border-radius: .5857vw /* 8px -> .5857vw */;

        h3 {
            font-size: 1.757vw /* 24px -> 1.757vw */;
            line-height: 2.3426vw /* 32px -> 2.3426vw */;
            font-weight: 600;
            margin-bottom: .8785vw /* 12px -> .8785vw */;
        }

        p {
            font-size: 1.1713vw /* 16px -> 1.1713vw */;
            line-height: 1.757vw /* 24px -> 1.757vw */;
        }

        .content {
            padding: .7321vw /* 10px -> .7321vw */;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .left-sec {
                p {
                    color: rgb(156 163 175);
                    font-size: 1.0249vw /* 14px -> 1.0249vw */;
                    font-weight: 600;
                }
            }

            .middle-sec {
                p {
                    font-size: 1.0249vw /* 14px -> 1.0249vw */;
                    font-weight: 600;
                }
            }

            .right-sec {
                gap: 10px;

                .img-wrapper {
                    svg {
                        width: 1.757vw /* 24px -> 1.757vw */;
                        height: 1.757vw /* 24px -> 1.757vw */;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

// aside 

aside {
    max-width: 21.9619vw /* 300px -> 21.9619vw */;
    height: 100vh;
    position: fixed;
    width: 100%;
    top: 5.2709vw /* 72px -> 5.2709vw */;
    left: 0;
    padding-top: 15px;

    ul {
        li {
            a {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: auto 1.4641vw /* 20px -> 1.4641vw */;
                padding: .7321vw /* 10px -> .7321vw */ 1.4641vw /* 20px -> 1.4641vw */ .7321vw /* 10px -> .7321vw */ .7321vw /* 10px -> .7321vw */;
                border-radius: .4392vw /* 6px -> .4392vw */;
                font-size: 1.1713vw /* 16px -> 1.1713vw */;
                line-height: 1.757vw /* 24px -> 1.757vw */;
                font-weight: 500;
                cursor: pointer;

                .f-block {
                    display: flex;
                    align-items: center;
                    column-gap: .7321vw /* 10px -> .7321vw */;
                }

                .l-block {
                    width: 2.1962vw /* 30px -> 2.1962vw */;
                    height: 2.1962vw /* 30px -> 2.1962vw */;
                    background: #FFF;
                    color: #000;
                    border-radius: 50%;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .active {
                background: #bababa;
                color: #000;

                .f-block {
                    svg {
                        color: #000;
                    }
                }

                .l-block {
                    background: #000;
                    color: #FFF;
                }
            }

            a:hover {
                background: #bababa;
                color: #000;

                .f-block {
                    svg {
                        color: #000;
                    }
                }

                .l-block {
                    background: #000;
                    color: #FFF;
                }
            }
        }
    }
}

.nav-header {
    position: fixed;
    top: 0;
    background: linear-gradient(330.74deg, #131313 3.27%, #464646 98.72%);
    width: 100%;
    z-index: 9;
    padding: 1.5641vw /* 20px -> 1.5641vw */;

    .logo-content {
        a {
            display: flex;
            column-gap: .7321vw /* 10px -> .7321vw */;
            justify-content: center;
        }
    }

    .avatar-logo {
        background: #bababa;
        border-radius: 50%;
        color: #000;
    }

    .dropdown_content {
        position: absolute;
        top: 2.9283vw /* 40px -> 2.9283vw */;
        right: -0.4392vw /* -6px -> -0.4392vw */;
        border-radius: .4392vw /* 6px -> .4392vw */;
        background: #b7b7b7;

        p {
            color: #000;
            font-weight: 500;
        }

        .inner {
            padding: .7321vw /* 10px -> .7321vw */;
            display: flex;
            flex-direction: column;
            row-gap: .7321vw /* 10px -> .7321vw */;
        }

        .signout {
            border-top: 0.1px solid #FFF;

            li {
                margin: .366vw /* 5px -> .366vw */ auto;
                cursor: pointer;

                span {
                    padding-left: .7321vw /* 10px -> .7321vw */;
                    color: #000;
                    font-weight: 600;
                }

                span:hover {
                    color: #FFF;
                }
            }
        }
    }
}

.main-content-wrapper {
    margin-top: 6.5886vw /* 90px -> 6.5886vw */;
    margin-left: 23.4261vw /* 320px -> 23.4261vw */;
    .add-button {
        min-width: 21.9619vw /* 300px -> 21.9619vw */;
        max-width: 21.9619vw /* 300px -> 21.9619vw */;
        height: 18.7408vw /* 256px -> 18.7408vw */;
    }   

    .stats {
        .stats-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            column-gap: 2.9283vw /* 40px -> 2.9283vw */;
            background: #bababa45;
            width: 94%;
            padding: 1.4641vw /* 20px -> 1.4641vw */;
            border-radius: .7321vw /* 10px -> .7321vw */;   
            margin-bottom: 1.4641vw /* 20px -> 1.4641vw */;   
            
            .block-1 {
                display: flex;
                align-items: center;
                column-gap: 1.4641vw /* 20px -> 1.4641vw */;

                .img-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 4.6852vw /* 64px -> 4.6852vw */;
                    height: 4.6852vw /* 64px -> 4.6852vw */;
                    background: #51b0dd;
                    box-shadow: 0px 0px 21.113px 0px rgba(0, 0, 0, 0.09);
                    border-radius: 50%;

                    .span {
                        p {
                            font-size: 1.757vw /* 24px -> 1.757vw */;
                            color: #FFF;
                            font-weight: 600;
                        }
                    }
                }

                .info {
                    h3 {
                        font-size: 1.757vw /* 24px -> 1.757vw */;
                        line-height: 30px;
                        color: #FFF;
                    }

                    h5 {
                        font-size: 2.0498vw /* 28px -> 2.0498vw */;
                        line-height: 2.3426vw /* 32px -> 2.3426vw */;
                        color: #FFF;
                        font-weight: 600;
                    }
                }
            }

            .block-2 {
                .content {
                    display: flex;
                    flex-direction: column; 
                    row-gap: .2928vw /* 4px -> .2928vw */;
                    .left-sec {
                        display: flex;
                        align-items: flex-start;
                        column-gap: 2.1962vw /* 30px -> 2.1962vw */;

                        .blocks {
                            display: flex;
                            row-gap: .2928vw /* 4px -> .2928vw */;
                            flex-direction: column;
                            position: relative;

                            h4 {
                                font-size: 1.3177vw /* 18px -> 1.3177vw */;
                                line-height: 1.757vw /* 24px -> 1.757vw */;
                                color: #9ca3af;
                            }

                            p {
                                font-size: 2.3426vw /* 32px -> 2.3426vw */;
                                line-height: 2.9283vw /* 40px -> 2.9283vw */;
                                padding-left: 1.757vw /* 24px -> 1.757vw */;
                                color: #FFF;
                            }

                            .one:before {
                                content: "";
                                position: absolute;
                                left: 0;
                                height: 2.1962vw /* 30px -> 2.1962vw */;
                                background: #a855f7;
                                width: .2928vw /* 4px -> .2928vw */;
                                bottom: .366vw /* 5px -> .366vw */;
                            }

                            .two::before {
                                content: "";
                                position: absolute;
                                left: 0;
                                height: 2.1962vw /* 30px -> 2.1962vw */;
                                background: #3bafae;
                                width: .2928vw /* 4px -> .2928vw */;
                                bottom: .366vw /* 5px -> .366vw */;
                            }
                        }
                    }

                    .right-sec {
                        display: flex;
                        align-items: flex-start;
                        column-gap: 2.1962vw /* 30px -> 2.1962vw */;

                        .blocks {
                            display: flex;
                            row-gap: .2928vw /* 4px -> .2928vw */;
                            flex-direction: column;
                            position: relative;

                            h4 {
                                font-size: 1.3177vw /* 18px -> 1.3177vw */;
                                line-height: 1.757vw /* 24px -> 1.757vw */;
                                color: #9ca3af;
                            }

                            p {
                                font-size: 2.3426vw /* 32px -> 2.3426vw */;
                                line-height: 2.9283vw /* 40px -> 2.9283vw */;
                                padding-left: 1.757vw /* 24px -> 1.757vw */;
                                color: #FFF;
                            }

                            .one:before {
                                content: "";
                                position: absolute;
                                left: 0;
                                height: 2.1962vw /* 30px -> 2.1962vw */;
                                background: rgb(251 146 60);
                                width: .2928vw /* 4px -> .2928vw */;
                                bottom: .366vw /* 5px -> .366vw */;
                            }

                            .two::before {
                                content: "";
                                position: absolute;
                                left: 0;
                                height: 2.1962vw /* 30px -> 2.1962vw */;
                                background: rgb(74 222 128);  
                                width: .2928vw /* 4px -> .2928vw */;
                                bottom: .366vw /* 5px -> .366vw */;
                            }   
                        }
                    }
                }
            }
        }
    }
    .status-tabs{
        padding: 1.4641vw /* 20px -> 1.4641vw */;
        max-width: 94%;
        .content{
            text-align: right;
            ul 
            {
                li {
                    .active {
                        background: #1c1d1f;
                        border-bottom: 4px solid #f7e092;
                        color: #ffffff;
                        outline: none;
                        cursor: pointer;
                        margin-right: .7321vw /* 10px -> .7321vw */;
                        svg {
                            width: 1.4641vw /* 20px -> 1.4641vw */;
                            height: 1.4641vw /* 20px -> 1.4641vw */;
                            margin-right: .7321vw /* 10px -> .7321vw */;
                            path {  
                                fill: #FFF; 
                            }   
                        }
                    }   
                    .inactive {
                        color: #ffffff;
                        outline: none;
                        cursor: pointer;
                        margin-right: .7321vw /* 10px -> .7321vw */;
                        border-bottom: 4px solid transparent;
                        svg {
                            width: 1.4641vw /* 20px -> 1.4641vw */;
                            height: 1.4641vw /* 20px -> 1.4641vw */;
                            margin-right: .7321vw /* 10px -> .7321vw */;
                            path {  
                                fill: #FFF; 
                            }   
                        }
                    }
                }
            }
        }
    }
}

.focus\:ring-4:focus {
    box-shadow: none !important;
}

.delete.modal-wrapper {
    .sub-inner {
        overflow-y: scroll;
        background: #b7b7b7;
    }

    .wrapper {
        height: 100%;

        .delete-content {
            padding: 1.4641vw /* 20px -> 1.4641vw */;

            h3 {
                font-size: 1.757vw /* 24px -> 1.757vw */;
                line-height: 2.3426vw /* 32px -> 2.3426vw */;
                color: #000;
            }
        }

        .btn-wrapper {
            padding: 1.0981vw /* 15px -> 1.0981vw */ 1.0981vw /* 15px -> 1.0981vw */ 0 1.0981vw /* 15px -> 1.0981vw */;
            width: 100%;
            text-align: right;
        }
    }
}


// responsive 

