/* [project]/src/styles/globals.css [client] (css) */
*, :before, :after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f680;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f680;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

*, :before, :after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

:before, :after {
  --tw-content: "";
}

html, :host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  line-height: inherit;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button, select {
  text-transform: none;
}

button, input:where([type="button"]), input:where([type="reset"]), input:where([type="submit"]) {
  -webkit-appearance: button;
  background-color: #0000;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol, ul, menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

dialog {
  padding: 0;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::placeholder, textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button, [role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
}

img, video {
  max-width: 100%;
  height: auto;
}

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.pointer-events-none {
  pointer-events: none;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inset-y-0 {
  top: 0;
  bottom: 0;
}

.start-0 {
  inset-inline-start: 0;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.-mb-px {
  margin-bottom: -1px;
}

.-ms-1 {
  margin-inline-start: -.25rem;
}

.mb-2 {
  margin-bottom: .5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.me-1 {
  margin-inline-end: .25rem;
}

.me-2 {
  margin-inline-end: .5rem;
}

.me-4 {
  margin-inline-end: 1rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.mr-2 {
  margin-right: .5rem;
}

.ms-2 {
  margin-inline-start: .5rem;
}

.ms-auto {
  margin-inline-start: auto;
}

.mr-1 {
  margin-right: .25rem;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-3 {
  height: .75rem;
}

.h-4 {
  height: 1rem;
}

.h-5 {
  height: 1.25rem;
}

.h-8 {
  height: 2rem;
}

.h-12 {
  height: 3rem;
}

.h-20 {
  height: 5rem;
}

.max-h-full {
  max-height: 100%;
}

.w-3 {
  width: .75rem;
}

.w-4 {
  width: 1rem;
}

.w-5 {
  width: 1.25rem;
}

.w-8 {
  width: 2rem;
}

.w-\[100\%\] {
  width: 100%;
}

.w-full {
  width: 100%;
}

.w-12 {
  width: 3rem;
}

.w-20 {
  width: 5rem;
}

.max-w-md {
  max-width: 28rem;
}

.shrink-0 {
  flex-shrink: 0;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-4 {
  gap: 1rem;
}

.gap-\[10px\] {
  gap: 10px;
}

.gap-\[30px\] {
  gap: 30px;
}

.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.rounded-lg {
  border-radius: .5rem;
}

.rounded-md {
  border-radius: .375rem;
}

.rounded-sm {
  border-radius: .125rem;
}

.rounded-t {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.rounded-t-lg {
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.border {
  border-width: 1px;
}

.border-2 {
  border-width: 2px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-b-2 {
  border-bottom-width: 2px;
}

.border-dashed {
  border-style: dashed;
}

.border-blue-600 {
  --tw-border-opacity: 1;
  border-color: rgb(37 99 235 / var(--tw-border-opacity, 1));
}

.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity, 1));
}

.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity, 1));
}

.border-gray-400 {
  --tw-border-opacity: 1;
  border-color: rgb(156 163 175 / var(--tw-border-opacity, 1));
}

.bg-blue-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(29 78 216 / var(--tw-bg-opacity, 1));
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
}

.bg-gray-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1));
}

.bg-transparent {
  background-color: #0000;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.p-2\.5 {
  padding: .625rem;
}

.p-4 {
  padding: 1rem;
}

.p-6 {
  padding: 1.5rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-2\.5 {
  padding-top: .625rem;
  padding-bottom: .625rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pb-\[10px\] {
  padding-bottom: 10px;
}

.ps-10 {
  padding-inline-start: 2.5rem;
}

.ps-3 {
  padding-inline-start: .75rem;
}

.pt-2 {
  padding-top: .5rem;
}

.text-center {
  text-align: center;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: .875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-bold {
  font-weight: 700;
}

.font-light {
  font-weight: 300;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.leading-tight {
  line-height: 1.25;
}

.tracking-tight {
  letter-spacing: -.025em;
}

.text-blue-600 {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity, 1));
}

.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity, 1));
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity, 1));
}

.text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity, 1));
}

.text-red-600 {
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.shadow {
  --tw-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-sm {
  --tw-shadow: 0 1px 2px 0 #0000000d;
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
}

.duration-200 {
  transition-duration: .2s;
}

.duration-75 {
  transition-duration: 75ms;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

:root {
  --background: #fff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.hover\:bg-blue-800:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(30 64 175 / var(--tw-bg-opacity, 1));
}

.hover\:bg-gray-200:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1));
}

.hover\:text-gray-900:hover {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity, 1));
}

.hover\:underline:hover {
  text-decoration-line: underline;
}

.focus\:border-blue-500:focus {
  --tw-border-opacity: 1;
  border-color: rgb(59 130 246 / var(--tw-border-opacity, 1));
}

.focus\:outline-none:focus {
  outline: 2px solid #0000;
  outline-offset: 2px;
}

.focus\:ring-2:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus\:ring-4:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus\:ring-blue-300:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(147 197 253 / var(--tw-ring-opacity, 1));
}

.focus\:ring-blue-500:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(59 130 246 / var(--tw-ring-opacity, 1));
}

.focus\:ring-red-500:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(239 68 68 / var(--tw-ring-opacity, 1));
}

.active\:bg-violet-700:active {
  --tw-bg-opacity: 1;
  background-color: rgb(109 40 217 / var(--tw-bg-opacity, 1));
}

.group:hover .group-hover\:text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity, 1));
}

@media (width >= 640px) {
  .sm\:max-w-md {
    max-width: 28rem;
  }

  .sm\:p-8 {
    padding: 2rem;
  }
}

@media (width >= 768px) {
  .md\:mt-0 {
    margin-top: 0;
  }

  .md\:h-screen {
    height: 100vh;
  }

  .md\:space-y-6 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
  }

  .md\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media (width >= 1024px) {
  .lg\:py-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (width >= 1280px) {
  .xl\:p-0 {
    padding: 0;
  }
}

@media (prefers-color-scheme: dark) {
  .dark\:border {
    border-width: 1px;
  }

  .dark\:border-blue-500 {
    --tw-border-opacity: 1;
    border-color: rgb(59 130 246 / var(--tw-border-opacity, 1));
  }

  .dark\:border-gray-500 {
    --tw-border-opacity: 1;
    border-color: rgb(107 114 128 / var(--tw-border-opacity, 1));
  }

  .dark\:border-gray-600 {
    --tw-border-opacity: 1;
    border-color: rgb(75 85 99 / var(--tw-border-opacity, 1));
  }

  .dark\:border-gray-700 {
    --tw-border-opacity: 1;
    border-color: rgb(55 65 81 / var(--tw-border-opacity, 1));
  }

  .dark\:bg-blue-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(37 99 235 / var(--tw-bg-opacity, 1));
  }

  .dark\:bg-gray-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(75 85 99 / var(--tw-bg-opacity, 1));
  }

  .dark\:bg-gray-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81 / var(--tw-bg-opacity, 1));
  }

  .dark\:bg-gray-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity, 1));
  }

  .dark\:bg-gray-900 {
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39 / var(--tw-bg-opacity, 1));
  }

  .dark\:text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity, 1));
  }

  .dark\:text-gray-300 {
    --tw-text-opacity: 1;
    color: rgb(209 213 219 / var(--tw-text-opacity, 1));
  }

  .dark\:text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity, 1));
  }

  .dark\:text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
  }

  .dark\:placeholder-gray-400::-moz-placeholder {
    --tw-placeholder-opacity: 1;
    color: rgb(156 163 175 / var(--tw-placeholder-opacity, 1));
  }

  .dark\:placeholder-gray-400::placeholder {
    --tw-placeholder-opacity: 1;
    color: rgb(156 163 175 / var(--tw-placeholder-opacity, 1));
  }

  .dark\:ring-offset-gray-800 {
    --tw-ring-offset-color: #1f2937;
  }

  .dark\:hover\:bg-blue-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(29 78 216 / var(--tw-bg-opacity, 1));
  }

  .dark\:hover\:bg-gray-600:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(75 85 99 / var(--tw-bg-opacity, 1));
  }

  .dark\:hover\:text-white:hover {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
  }

  .dark\:focus\:border-blue-500:focus {
    --tw-border-opacity: 1;
    border-color: rgb(59 130 246 / var(--tw-border-opacity, 1));
  }

  .dark\:focus\:ring-blue-500:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(59 130 246 / var(--tw-ring-opacity, 1));
  }

  .dark\:focus\:ring-blue-800:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(30 64 175 / var(--tw-ring-opacity, 1));
  }

  .dark\:focus\:ring-red-600:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(220 38 38 / var(--tw-ring-opacity, 1));
  }

  .group:hover .dark\:group-hover\:text-\[\#000\] {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity, 1));
  }
}


/* [project]/src/styles/globals.scss.css [client] (css) */
*, :before, :after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f680;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f680;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

*, :before, :after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

:before, :after {
  --tw-content: "";
}

html, :host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  line-height: inherit;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button, select {
  text-transform: none;
}

button, input:where([type="button"]), input:where([type="reset"]), input:where([type="submit"]) {
  -webkit-appearance: button;
  background-color: #0000;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol, ul, menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

dialog {
  padding: 0;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::placeholder, textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button, [role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
}

img, video {
  max-width: 100%;
  height: auto;
}

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.pointer-events-none {
  pointer-events: none;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inset-y-0 {
  top: 0;
  bottom: 0;
}

.start-0 {
  inset-inline-start: 0;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.-mb-px {
  margin-bottom: -1px;
}

.-ms-1 {
  margin-inline-start: -.25rem;
}

.mb-2 {
  margin-bottom: .5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.me-1 {
  margin-inline-end: .25rem;
}

.me-2 {
  margin-inline-end: .5rem;
}

.me-4 {
  margin-inline-end: 1rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.ms-2 {
  margin-inline-start: .5rem;
}

.ms-auto {
  margin-inline-start: auto;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-20 {
  height: 5rem;
}

.h-3 {
  height: .75rem;
}

.h-4 {
  height: 1rem;
}

.h-5 {
  height: 1.25rem;
}

.h-8 {
  height: 2rem;
}

.max-h-full {
  max-height: 100%;
}

.w-20 {
  width: 5rem;
}

.w-3 {
  width: .75rem;
}

.w-4 {
  width: 1rem;
}

.w-5 {
  width: 1.25rem;
}

.w-8 {
  width: 2rem;
}

.w-\[100\%\] {
  width: 100%;
}

.w-full {
  width: 100%;
}

.max-w-md {
  max-width: 28rem;
}

.shrink-0 {
  flex-shrink: 0;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-4 {
  gap: 1rem;
}

.gap-\[10px\] {
  gap: 10px;
}

.gap-\[30px\] {
  gap: 30px;
}

.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.rounded-lg {
  border-radius: .5rem;
}

.rounded-md {
  border-radius: .375rem;
}

.rounded-sm {
  border-radius: .125rem;
}

.rounded-t {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.rounded-t-lg {
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.border {
  border-width: 1px;
}

.border-2 {
  border-width: 2px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-b-2 {
  border-bottom-width: 2px;
}

.border-dashed {
  border-style: dashed;
}

.border-blue-600 {
  --tw-border-opacity: 1;
  border-color: rgb(37 99 235 / var(--tw-border-opacity, 1));
}

.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity, 1));
}

.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity, 1));
}

.border-gray-400 {
  --tw-border-opacity: 1;
  border-color: rgb(156 163 175 / var(--tw-border-opacity, 1));
}

.bg-blue-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(29 78 216 / var(--tw-bg-opacity, 1));
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
}

.bg-gray-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1));
}

.bg-transparent {
  background-color: #0000;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.p-2\.5 {
  padding: .625rem;
}

.p-4 {
  padding: 1rem;
}

.p-6 {
  padding: 1.5rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-2\.5 {
  padding-top: .625rem;
  padding-bottom: .625rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pb-\[10px\] {
  padding-bottom: 10px;
}

.ps-10 {
  padding-inline-start: 2.5rem;
}

.ps-3 {
  padding-inline-start: .75rem;
}

.pt-2 {
  padding-top: .5rem;
}

.text-center {
  text-align: center;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: .875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-bold {
  font-weight: 700;
}

.font-light {
  font-weight: 300;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.leading-tight {
  line-height: 1.25;
}

.tracking-tight {
  letter-spacing: -.025em;
}

.text-blue-600 {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity, 1));
}

.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity, 1));
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity, 1));
}

.text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity, 1));
}

.text-red-600 {
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.shadow {
  --tw-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-sm {
  --tw-shadow: 0 1px 2px 0 #0000000d;
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
}

.duration-200 {
  transition-duration: .2s;
}

.duration-75 {
  transition-duration: 75ms;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

#logo-sidebar {
  background: linear-gradient(330.74deg, #131313 3.27%, #464646 98.72%);
}

.wrapper {
  height: 90vh;
  position: relative;
}

.wrapper .add-button:hover {
  border-color: #f7e092;
  background: linear-gradient(129.89deg, #f7e092 19.82%, #a39134 103.27%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0000;
  background-clip: text;
  text-fill-color: #0000;
  transition: all .3s ease-in-out;
}

.wrapper .modal-wrapper {
  width: 100%;
  padding: 2.9283vw;
}

.wrapper .modal-wrapper .inner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

.wrapper .modal-wrapper .inner .sub-inner {
  max-height: 36.6032vw;
  overflow-y: scroll;
  background: #b7b7b7;
}

.wrapper .modal-wrapper .inner .header {
  padding: 1.0981vw 1.4641vw;
  position: sticky;
  top: 0;
  background: #b7b7b7;
  color: #000;
  z-index: 9;
}

.wrapper .modal-wrapper .inner .header h3 {
  color: #000;
}

.wrapper .modal-wrapper .inner .header button {
  border: 1px solid #000;
  border-radius: 50%;
}

.wrapper .modal-wrapper .inner .header button:hover {
  background: none;
}

.wrapper .modal-wrapper .inner .header button svg {
  color: #000;
  opacity: 1;
}

.wrapper .modal-wrapper .inner .body-content {
  padding: 1.4641vw;
  background: #b7b7b7;
  color: #000;
}

.wrapper .modal-wrapper .inner .body-content label {
  color: #000;
}

.wrapper .modal-wrapper .inner .body-content input, .wrapper .modal-wrapper .inner .body-content textarea, .wrapper .modal-wrapper .inner .body-content select {
  background: #282828;
}

.wrapper .modal-wrapper .btn {
  background: #000;
  color: #fff;
}

.card-wrapper {
  position: relative;
  color: #fff;
}

.card-wrapper .inner {
  min-width: 21.9619vw;
  max-width: 21.9619vw;
  height: 18.7408vw;
  background: linear-gradient(330.74deg, #131313 3.27%, #464646 98.72%);
  padding: 1.0249vw .7321vw;
  border-radius: .5857vw;
}

.card-wrapper .inner h3 {
  font-size: 1.757vw;
  line-height: 2.3426vw;
  font-weight: 600;
  margin-bottom: .8785vw;
}

.card-wrapper .inner p {
  font-size: 1.1713vw;
  line-height: 1.757vw;
}

.card-wrapper .inner .content {
  padding: .7321vw;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-wrapper .inner .content .left-sec p {
  color: #9ca3af;
  font-size: 1.0249vw;
  font-weight: 600;
}

.card-wrapper .inner .content .middle-sec p {
  font-size: 1.0249vw;
  font-weight: 600;
}

.card-wrapper .inner .content .right-sec {
  gap: 10px;
}

.card-wrapper .inner .content .right-sec .img-wrapper svg {
  width: 1.757vw;
  height: 1.757vw;
  cursor: pointer;
}

aside {
  max-width: 21.9619vw;
  height: 100vh;
  position: fixed;
  width: 100%;
  top: 5.2709vw;
  left: 0;
  padding-top: 1.0981vw;
}

aside ul li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 1.4641vw;
  padding: .7321vw 1.4641vw .7321vw .7321vw;
  border-radius: .4392vw;
  font-size: 1.1713vw;
  line-height: 1.757vw;
  font-weight: 500;
  cursor: pointer;
}

aside ul li a .f-block {
  display: flex;
  align-items: center;
  -moz-column-gap: .7321vw;
  column-gap: .7321vw;
}

aside ul li a .l-block {
  width: 2.1962vw;
  height: 2.1962vw;
  background: #fff;
  color: #000;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

aside ul li .active {
  background: #bababa;
  color: #000;
}

aside ul li .active .f-block svg {
  color: #000;
}

aside ul li .active .l-block {
  background: #000;
  color: #fff;
}

aside ul li a:hover {
  background: #bababa;
  color: #000;
}

aside ul li a:hover .f-block svg {
  color: #000;
}

aside ul li a:hover .l-block {
  background: #000;
  color: #fff;
}

.nav-header {
  position: fixed;
  top: 0;
  background: linear-gradient(330.74deg, #131313 3.27%, #464646 98.72%);
  width: 100%;
  z-index: 9;
  padding: 1.5641vw;
}

.nav-header .logo-content a {
  display: flex;
  -moz-column-gap: .7321vw;
  column-gap: .7321vw;
  justify-content: center;
}

.nav-header .avatar-logo {
  background: #bababa;
  border-radius: 50%;
  color: #000;
}

.nav-header .dropdown_content {
  position: absolute;
  top: 2.9283vw;
  right: -.4392vw;
  border-radius: .4392vw;
  background: #b7b7b7;
}

.nav-header .dropdown_content p {
  color: #000;
  font-weight: 500;
}

.nav-header .dropdown_content .inner {
  padding: .7321vw;
  display: flex;
  flex-direction: column;
  row-gap: .7321vw;
}

.nav-header .dropdown_content .signout {
  border-top: .1px solid #fff;
}

.nav-header .dropdown_content .signout li {
  cursor: pointer;
}

.nav-header .dropdown_content .signout li span {
  padding: .7321vw;
  color: #000;
  font-weight: 600;
}

.nav-header .dropdown_content .signout li span:hover {
  color: #fff;
  border-bottom-left-radius: .366vw;
  border-bottom-right-radius: .366vw;
}

.main-content-wrapper {
  margin-top: 6.5886vw;
  margin-left: 23.4261vw;
}

.main-content-wrapper .add-button {
  min-width: 21.9619vw;
  max-width: 21.9619vw;
  height: 18.7408vw;
}

.main-content-wrapper .stats .stats-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 2.9283vw;
  column-gap: 2.9283vw;
  background: #bababa45;
  width: 94%;
  padding: 1.4641vw;
  border-radius: .7321vw;
  margin-bottom: 1.4641vw;
}

.main-content-wrapper .stats .stats-content .block-1 {
  display: flex;
  align-items: center;
  -moz-column-gap: 1.4641vw;
  column-gap: 1.4641vw;
}

.main-content-wrapper .stats .stats-content .block-1 .img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.6852vw;
  height: 4.6852vw;
  background: #51b0dd;
  box-shadow: 0 0 21.113px #00000017;
  border-radius: 50%;
}

.main-content-wrapper .stats .stats-content .block-1 .img-wrapper .span p {
  font-size: 1.757vw;
  color: #fff;
  font-weight: 600;
}

.main-content-wrapper .stats .stats-content .block-1 .info h3 {
  font-size: 1.757vw;
  line-height: 30px;
  color: #fff;
}

.main-content-wrapper .stats .stats-content .block-1 .info h5 {
  font-size: 2.0498vw;
  line-height: 2.3426vw;
  color: #fff;
  font-weight: 600;
}

.main-content-wrapper .stats .stats-content .block-2 .content {
  display: flex;
  flex-direction: column;
  row-gap: .2928vw;
}

.main-content-wrapper .stats .stats-content .block-2 .content .left-sec {
  display: flex;
  align-items: flex-start;
  -moz-column-gap: 2.1962vw;
  column-gap: 2.1962vw;
}

.main-content-wrapper .stats .stats-content .block-2 .content .left-sec .blocks {
  display: flex;
  row-gap: .2928vw;
  flex-direction: column;
  position: relative;
}

.main-content-wrapper .stats .stats-content .block-2 .content .left-sec .blocks h4 {
  font-size: 1.3177vw;
  line-height: 1.757vw;
  color: #9ca3af;
}

.main-content-wrapper .stats .stats-content .block-2 .content .left-sec .blocks p {
  font-size: 2.3426vw;
  line-height: 2.9283vw;
  padding-left: 1.757vw;
  color: #fff;
}

.main-content-wrapper .stats .stats-content .block-2 .content .left-sec .blocks .one:before {
  content: "";
  position: absolute;
  left: 0;
  height: 2.1962vw;
  background: #a855f7;
  width: .2928vw;
  bottom: .366vw;
}

.main-content-wrapper .stats .stats-content .block-2 .content .left-sec .blocks .two:before {
  content: "";
  position: absolute;
  left: 0;
  height: 2.1962vw;
  background: #3bafae;
  width: .2928vw;
  bottom: .366vw;
}

.main-content-wrapper .stats .stats-content .block-2 .content .right-sec {
  display: flex;
  align-items: flex-start;
  -moz-column-gap: 2.1962vw;
  column-gap: 2.1962vw;
}

.main-content-wrapper .stats .stats-content .block-2 .content .right-sec .blocks {
  display: flex;
  row-gap: .2928vw;
  flex-direction: column;
  position: relative;
}

.main-content-wrapper .stats .stats-content .block-2 .content .right-sec .blocks h4 {
  font-size: 1.3177vw;
  line-height: 1.757vw;
  color: #9ca3af;
}

.main-content-wrapper .stats .stats-content .block-2 .content .right-sec .blocks p {
  font-size: 2.3426vw;
  line-height: 2.9283vw;
  padding-left: 1.757vw;
  color: #fff;
}

.main-content-wrapper .stats .stats-content .block-2 .content .right-sec .blocks .one:before {
  content: "";
  position: absolute;
  left: 0;
  height: 2.1962vw;
  background: #fb923c;
  width: .2928vw;
  bottom: .366vw;
}

.main-content-wrapper .stats .stats-content .block-2 .content .right-sec .blocks .two:before {
  content: "";
  position: absolute;
  left: 0;
  height: 2.1962vw;
  background: #4ade80;
  width: .2928vw;
  bottom: .366vw;
}

.main-content-wrapper .status-tabs {
  padding: 1.4641vw;
  max-width: 94%;
}

.main-content-wrapper .status-tabs .content {
  text-align: right;
}

.main-content-wrapper .status-tabs .content ul li .active {
  background: #1c1d1f;
  border-bottom: 4px solid #f7e092;
  color: #fff;
  outline: none;
  cursor: pointer;
  margin-right: .7321vw;
}

.main-content-wrapper .status-tabs .content ul li .active svg {
  width: 1.4641vw;
  height: 1.4641vw;
  margin-right: .7321vw;
}

.main-content-wrapper .status-tabs .content ul li .active svg path {
  fill: #fff;
}

.main-content-wrapper .status-tabs .content ul li .inactive {
  color: #fff;
  outline: none;
  cursor: pointer;
  margin-right: .7321vw;
  border-bottom: 4px solid #0000;
}

.main-content-wrapper .status-tabs .content ul li .inactive svg {
  width: 1.4641vw;
  height: 1.4641vw;
  margin-right: .7321vw;
}

.main-content-wrapper .status-tabs .content ul li .inactive svg path {
  fill: #fff;
}

.focus\:ring-4:focus {
  box-shadow: none !important;
}

.delete.modal-wrapper .sub-inner {
  overflow-y: scroll;
  background: #b7b7b7;
}

.delete.modal-wrapper .wrapper {
  height: 100%;
}

.delete.modal-wrapper .wrapper .delete-content {
  padding: 1.4641vw;
}

.delete.modal-wrapper .wrapper .delete-content h3 {
  font-size: 1.757vw;
  line-height: 2.3426vw;
  color: #000;
}

.delete.modal-wrapper .wrapper .btn-wrapper {
  padding: 1.0981vw 1.0981vw 0;
  width: 100%;
  text-align: right;
}

.logins-screen {
  background: #000 !important;
}

.logins-screen .gold-color {
  background: linear-gradient(129.89deg, #f7e092 19.82%, #a39134 103.27%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0000;
  background-clip: text;
  text-fill-color: #0000;
}

.logins-screen .login-container {
  background: linear-gradient(330.74deg, #131313 3.27%, #464646 98.72%);
}

.logins-screen .login-container input {
  background: #b7b7b7;
  border: 1px solid #000;
  color: #000 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  font-weight: 600 !important;
}

.logins-screen .login-container button {
  color: #000;
  font-weight: 600;
  text-shadow: 0 1px #f6e092;
  background-image: linear-gradient(to right, #f6e092, #a39134);
  animation: #ff0 2s infinite;
}

.logins-screen .login-container :focus {
  outline: none !important;
}

.logins-screen .login-container ::-moz-placeholder {
  color: #00000042 !important;
  font-weight: 400 !important;
}

.logins-screen .login-container ::placeholder {
  color: #00000042 !important;
  font-weight: 400 !important;
}

.logins-screen .login-container p {
  color: #fff;
}

.logins-screen .login-container p a {
  background: linear-gradient(129.89deg, #f7e092 19.82%, #a39134 103.27%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0000;
  background-clip: text;
  text-fill-color: #0000;
}

.logo-content a span {
  background: linear-gradient(129.89deg, #f7e092 19.82%, #a39134 103.27%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0000;
  background-clip: text;
  text-fill-color: #0000;
}

@media only screen and (width <= 768px) {
  .nav-header {
    padding: 10px 0;
  }

  .nav-header .inner {
    max-width: 90%;
    margin: auto;
  }

  .nav-header .logo-content a img {
    width: 24px;
    height: 24px;
  }

  .nav-header .logo-content a span {
    font-size: 14px;
  }

  aside {
    max-width: 11%;
  }

  aside ul li a {
    padding-top: 10px;
  }

  aside ul li a .f-block svg {
    width: 16px;
    height: 16px;
  }

  aside ul li a .f-block span {
    display: none;
  }

  .main-content-wrapper {
    margin-top: 3.6603vw;
    margin-left: 5.677vw;
  }

  .main-content-wrapper .status-tabs {
    padding: 10px;
    max-width: 100%;
  }

  .main-content-wrapper .status-tabs .content ul li span {
    padding: 5px 10px;
    font-size: 14px;
    line-height: 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .main-content-wrapper .status-tabs .content ul li span svg {
    width: 14px !important;
    height: 14px !important;
    margin-right: 10px !important;
  }

  .main-content-wrapper .status-tabs .content ul li .active {
    border-bottom: 1px solid #f7e092;
  }

  .download-report button {
    font-size: 14px;
    line-height: 20px;
    padding: 5px 10px;
    border-radius: 6px;
  }

  .main-content-wrapper .status-tabs .content .left-sec ul li {
    margin-inline-end: 5px;
  }

  .main-content-wrapper .stats .stats-content {
    max-width: 95%;
    width: 100%;
    flex-direction: column;
    border-radius: 8px;
    margin-bottom: 16px;
    padding: 20px;
  }

  .main-content-wrapper .stats .stats-content .block-1 {
    display: none;
  }

  .main-content-wrapper .stats .stats-content .block-2 {
    width: 100%;
  }

  .main-content-wrapper .stats .stats-content .block-2 .content {
    row-gap: 15px;
  }

  .main-content-wrapper .stats .stats-content .block-2 .content .left-sec {
    justify-content: center;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }

  .main-content-wrapper .stats .stats-content .block-2 .content .right-sec {
    justify-content: center;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }

  .main-content-wrapper .stats .stats-content .block-2 .content .left-sec .blocks {
    row-gap: 8px;
  }

  .main-content-wrapper .stats .stats-content .block-2 .content .left-sec .blocks h4 {
    font-size: 20px;
    line-height: 26px;
  }

  .main-content-wrapper .stats .stats-content .block-2 .content .left-sec .blocks p {
    font-size: 32px;
    line-height: 40px;
  }

  .main-content-wrapper .stats .stats-content .block-2 .content .left-sec .blocks .one:before {
    height: 30px;
    width: 4px;
    bottom: 5px;
    left: -4px;
  }

  .main-content-wrapper .stats .stats-content .block-2 .content .right-sec .blocks p {
    font-size: 32px;
    line-height: 40px;
  }

  .main-content-wrapper .stats .stats-content .block-2 .content .left-sec .blocks .two:before {
    height: 30px;
    width: 4px;
    bottom: 5px;
    left: -4px;
  }

  .main-content-wrapper .stats .stats-content .block-2 .content .right-sec .blocks h4 {
    font-size: 20px;
    line-height: 26px;
  }

  .main-content-wrapper .stats .stats-content .block-2 .content .right-sec .blocks .two:before, .main-content-wrapper .stats .stats-content .block-2 .content .right-sec .blocks .one:before {
    height: 30px;
    width: 4px;
    bottom: 5px;
    left: -4px;
  }

  .bar-chart {
    padding-top: 30px;
  }

  .bar-chart canvas {
    width: 100% !important;
  }

  .card-wrapper .inner {
    min-width: 100%;
    width: 100%;
    height: 100%;
    padding: 16px;
    border-radius: 12px;
  }

  .card-wrapper .inner h3 {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 12px;
    font-weight: 500;
  }

  .card-wrapper .inner p {
    font-size: 16px;
    line-height: 24px;
  }

  .card-wrapper .inner .content {
    position: relative;
  }

  .card-wrapper .inner .content .left-sec p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
  }

  .card-wrapper .inner .content .middle-sec p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
  }

  .card-wrapper .inner .content .right-sec .img-wrapper svg {
    width: 24px;
    height: 24px;
  }

  .main-content-wrapper {
    margin-top: 15vw;
    margin-left: 15vw;
    margin-bottom: 7.3026vw;
  }

  .card-wrappers {
    justify-content: center;
    min-width: 300px;
    margin: 50px auto 150px;
  }

  .card-wrapper .inner, .main-content-wrapper .add-button {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
    min-width: 275px;
    justify-content: center;
    align-items: center;
  }

  .main-content-wrapper .add-button {
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 100px;
    min-width: 75px;
    min-height: 75px;
    max-height: 75px;
    max-width: 75px;
    background: #fff;
    color: #000;
    font-size: 14px;
    line-height: normal;
    border-radius: 100%;
  }

  .nav-header .dropdown_content {
    top: 35px;
    right: 10px;
  }

  .card-wrapper .inner, .main-content-wrapper .add-button {
    align-items: flex-start;
  }

  aside {
    top: 40px;
  }

  aside ul {
    padding-top: 10px;
  }

  .card-wrappers {
    justify-content: left;
  }

  .wrapper .modal-wrapper .inner .sub-inner {
    max-height: 400px;
  }

  .logins-screen {
    height: 100vh;
  }

  .upcomingTask {
    font-size: 14px;
  }
}

@media screen and (width <= 540px) {
  .main-content-wrapper .status-tabs .content .border-b {
    flex-direction: column;
  }

  .main-content-wrapper {
    margin-left: 12vw;
  }

  .main-content-wrapper .status-tabs .content .left-sec ul {
    flex-wrap: nowrap;
    margin-bottom: 20px;
  }

  .main-content-wrapper .status-tabs .content .right-sec {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
  }

  .nav-header .logo-content a span {
    font-size: 16px;
    line-height: 24px;
  }

  .logins-screen {
    height: 100vh;
  }

  .upcomingTask {
    font-size: 13px;
  }

  .nav-header .inner {
    max-width: 95%;
  }
}

.hover\:bg-blue-800:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(30 64 175 / var(--tw-bg-opacity, 1));
}

.hover\:bg-gray-200:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1));
}

.hover\:text-gray-900:hover {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity, 1));
}

.hover\:underline:hover {
  text-decoration-line: underline;
}

.focus\:border-blue-500:focus {
  --tw-border-opacity: 1;
  border-color: rgb(59 130 246 / var(--tw-border-opacity, 1));
}

.focus\:outline-none:focus {
  outline: 2px solid #0000;
  outline-offset: 2px;
}

.focus\:ring-2:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus\:ring-4:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus\:ring-blue-300:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(147 197 253 / var(--tw-ring-opacity, 1));
}

.focus\:ring-blue-500:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(59 130 246 / var(--tw-ring-opacity, 1));
}

.focus\:ring-red-500:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(239 68 68 / var(--tw-ring-opacity, 1));
}

.active\:bg-violet-700:active {
  --tw-bg-opacity: 1;
  background-color: rgb(109 40 217 / var(--tw-bg-opacity, 1));
}

.group:hover .group-hover\:text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity, 1));
}

@media (width >= 640px) {
  .sm\:max-w-md {
    max-width: 28rem;
  }

  .sm\:p-8 {
    padding: 2rem;
  }
}

@media (width >= 768px) {
  .md\:mt-0 {
    margin-top: 0;
  }

  .md\:h-screen {
    height: 100vh;
  }

  .md\:space-y-6 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
  }

  .md\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media (width >= 1024px) {
  .lg\:py-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (width >= 1280px) {
  .xl\:p-0 {
    padding: 0;
  }
}

@media (prefers-color-scheme: dark) {
  .dark\:border {
    border-width: 1px;
  }

  .dark\:border-blue-500 {
    --tw-border-opacity: 1;
    border-color: rgb(59 130 246 / var(--tw-border-opacity, 1));
  }

  .dark\:border-gray-500 {
    --tw-border-opacity: 1;
    border-color: rgb(107 114 128 / var(--tw-border-opacity, 1));
  }

  .dark\:border-gray-600 {
    --tw-border-opacity: 1;
    border-color: rgb(75 85 99 / var(--tw-border-opacity, 1));
  }

  .dark\:border-gray-700 {
    --tw-border-opacity: 1;
    border-color: rgb(55 65 81 / var(--tw-border-opacity, 1));
  }

  .dark\:bg-blue-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(37 99 235 / var(--tw-bg-opacity, 1));
  }

  .dark\:bg-gray-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(75 85 99 / var(--tw-bg-opacity, 1));
  }

  .dark\:bg-gray-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81 / var(--tw-bg-opacity, 1));
  }

  .dark\:bg-gray-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity, 1));
  }

  .dark\:bg-gray-900 {
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39 / var(--tw-bg-opacity, 1));
  }

  .dark\:text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity, 1));
  }

  .dark\:text-gray-300 {
    --tw-text-opacity: 1;
    color: rgb(209 213 219 / var(--tw-text-opacity, 1));
  }

  .dark\:text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity, 1));
  }

  .dark\:text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
  }

  .dark\:placeholder-gray-400::-moz-placeholder {
    --tw-placeholder-opacity: 1;
    color: rgb(156 163 175 / var(--tw-placeholder-opacity, 1));
  }

  .dark\:placeholder-gray-400::placeholder {
    --tw-placeholder-opacity: 1;
    color: rgb(156 163 175 / var(--tw-placeholder-opacity, 1));
  }

  .dark\:ring-offset-gray-800 {
    --tw-ring-offset-color: #1f2937;
  }

  .dark\:hover\:bg-blue-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(29 78 216 / var(--tw-bg-opacity, 1));
  }

  .dark\:hover\:bg-gray-600:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(75 85 99 / var(--tw-bg-opacity, 1));
  }

  .dark\:hover\:text-white:hover {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
  }

  .dark\:focus\:border-blue-500:focus {
    --tw-border-opacity: 1;
    border-color: rgb(59 130 246 / var(--tw-border-opacity, 1));
  }

  .dark\:focus\:ring-blue-500:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(59 130 246 / var(--tw-ring-opacity, 1));
  }

  .dark\:focus\:ring-blue-800:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(30 64 175 / var(--tw-ring-opacity, 1));
  }

  .dark\:focus\:ring-red-600:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(220 38 38 / var(--tw-ring-opacity, 1));
  }

  .group:hover .dark\:group-hover\:text-\[\#000\] {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity, 1));
  }
}


/*# sourceMappingURL=src_styles_f5023a._.css.map*/
